#========================================
# <> XRESOURCES <>
#========================================
#----------------------------------------
# -| SXIV |-

Sxiv.background: #000000

#----------------------------------------
# -| ??? |-
